:root {
    /* --color-1: #111; */
    --color-1: #1D1D1D;
    --text-color: #f0f0f0;
    --accent-color: #FFBD59;
    --nav-button-color: #BEAA8E;
    --white-color: hsl(170, 12%, 98%) !important;
    --gray-color: hsl(170, 4%, 60%) !important;
    --black-color: hsl(170, 12%, 8%) !important;
    --body-font: "Bona Nova", serif!;
    --normal-font-size: .938rem !important;
    
}

@font-face {
    font-family: 'Brown Sugar';
    src: url('../fonts/brown-sugar.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: var(--accent-color);
}

p {
    font-size: larger;
    color: var(--text-color)
}

ul > li {
    color: var(--text-color);
    font-size: large;
}

h2 {
    color: var(--accent-color);
    font-family: 'Brown Sugar', sans-serif;
}

h1, h3, h5 {
    font-family: 'Brown Sugar', sans-serif;
}




/*
html {
    font-family: "Montserrat";
}*/

body {
    /*font-family: 'Arial', sans-serif;*/
    /*font-family: 'Montserrat';*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--color-1);
    color: #fff;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease;
    overflow-x: hidden;
}

@media (max-width: 1024px) {

    h1 {
        font-size: 30px !important;
        font-family: 'Brown Sugar', sans-serif;
    }
}


/*
@media (max-width: 800px) {
    html{
        overflow-x: hidden;
    }
}
*/


/* 
****************************************************************************************************
Top Header Logo Area 
****************************************************************************************************
*/

.navbar-brand {
    color: var(--color-1);
    font-family: 'Brown Sugar', sans-serif;
    font-weight: 900 !important;
}

.header-logo {
        text-align: center;
        padding: 10px 0;
    }

    /* .logo-image {
        width: 120px; 
        height: auto;
    } */
    .logo-image {
        max-width: 100%;
        height: auto;
        width: 280px;
        max-height: 280px;
    }
    
    @media (max-width: 768px) {
        .logo-image {
            width: 240px;
            max-height: 200px;
        }
    }
    

    .header-title {
        font-size: 1.2rem;
        color: #FFF; 
        font-family: 'Montserrat', sans-serif; 
        margin: 5px 0;
    }

    .header-subtitle {
        font-size: 0.9rem;
        color: #CCC; 
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }

/* 
****************************************************************************************************
Navbar 
****************************************************************************************************
*/


@media (min-width: 1024px) {
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

}

.dark-background {
    background-color: var(--accent-color) !important; 
}

nav .navbar-nav .nav-item .nav-link {
    /* color: var(--text-color) !important;  */
    color: var(--color-1) !important; 
}

nav .navbar-nav .nav-item .nav-link:hover {
    /* color: var(--accent-color) !important;  */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    transform: translateY(-2px); 
    transition: all 0.3s ease; 
}

.navbar, .offcanvas {
    /* background-color: rgba(0, 0, 0, 0.5) !important;  */
    background-color: var(--nav-button-color) !important; /* For changing navbar color */
}


@media (max-width: 991px) {

    .navbar .offcanvas .offcanvas-header {
        /* background-color: var(--black-color); */
        background-color: var(--nav-button-color);
    }

    .navbar .offcanvas .offcanvas-body {
        background-color: var(--black-color) !important;
        
    }

    .navbar .offcanvas .offcanvas-body .nav-item a {
        color: var(--nav-button-color) !important;
        
    }
    .navbar .offcanvas .offcanvas-body .nav-item ul a {
        color: var(--color-1) !important;
        
    }

    .dropdown-menu a {
        color: var(--color-1);
        font-size: medium;
    }

}

@media (max-width: 305px) {
    .dropdown-menu a {
        color: var(--color-1);
        font-size: smaller;
    }
}



.navbar .nav-link, .offcanvas .nav-link {
    color: var(--text-color) !important;
}

/* .navbar-toggler-icon {
    /* background-color: var(--accent-color) !important; 
} 
*/

/* .btn-close {
    /* background-color: var(--accent-color) !important; 
    background-color: var(--color-1) !important;
} */

.dropdown-menu {
    /* background-color: rgba(0, 0, 0, 0.5);  */
    background-color: var(--nav-button-color);
}

.dropdown-menu a {
    /* color: var(--text-color); */
    color: var(--color-1);
}

.dropdown-menu a:hover {
    color: var(--accent-color);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    background: transparent; 
    /*transform: translateY(-2px); */
}

/*
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    /* background-color: var(--color-1); 
    background-color: rgba(0, 0, 0, 0.5); /* Same color as the overlay 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.3s ease;
}

nav svg {
    fill: var(--text-color);
}

nav .logo {
    font-size: 1.5rem;
    color: var(--text-color);
    display: none;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;  /* Softens the link edges 
}

nav a:hover {
    color: var(--accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    /*transform: translateY(-2px);  Creates a subtle lift effect 
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

/*
nav .home-link {
    margin-right: auto;
}

/* Mobile navbar styles 
@media(max-width: 768px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: right 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    nav .logo {
        font-size: 1.5rem;
        color: var(--text-color);
        display:inline-block;
    }

    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
        cursor: pointer;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        background: rgba(0, 0, 0, 0.5); 
    }
}

    /* Overlay for mobile navbar 
    #overlay {
        display: none;
    }

    #sidebar-active:checked ~ #overlay {
        display: block;
    }
*/



/* 
****************************************************************************************************
Owl Carousel 
****************************************************************************************************
*/


/*
#wrapper {
	position: relative;
	height: 100vh;
}
#slider-area {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
#slider-area::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
#slider-area .owl-item div {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
#wrapper #nav-area {
	position: absolute;
	top: 5%;
	left: 50%;
	text-align: center;
	z-index: 1;
}
.nav-area {
	text-align: center;
	padding: 26px 0;
}
.nav a {
	font-family: montserrat;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 15px;
	padding: 10px;
	transition: all .6s ease;
}
.nav a:hover {
	background: coral;
}
.slider-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.slider-text h2 {
	font-family: montserrat;
	font-size: 55px;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
}
.slider-text h2 span {
	color: coral;
}
.slider-text p {
	font-size: 18px;
	color: #fff;
}
.slider-text a {
	text-decoration: none;
	background: var(--accent-color);
	color: #fff;
	display: inline-block;
	padding: 12px 45px;
	margin: 15px;
	text-transform: uppercase;
	font-family: montserrat;
	font-weight: 500;
	border: 2px solid #fff;
}
.slider-text a.btn {
	background-color: transparent;
}

.btn-dez a {
    text-decoration: none;
	background: var(--accent-color);
	color: #fff;
	display: inline-block;
	padding: 12px 45px;
	margin: 15px;
	text-transform: uppercase;
	font-family: montserrat;
	font-weight: 500;
	border: 2px solid #fff;
}

.btn-dez a:hover {
    background: transparent;
    transform: scale(1.2s);
}

*/

/* 
****************************************************************************************************
Hero Section 
****************************************************************************************************
*/

.hero {
    position: relative;
    /*background-image: url('https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=2921&auto=format&fit=crop');*/
    background-size: cover;
    background-position: center;
    /*height: 100vh;*/
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3rem;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .hero{
        height: 60vh;
        text-align: center;
        font-size: small;
    }
}


/* 
****************************************************************************************************
Homepage: About Section
****************************************************************************************************
*/

#about {
    background-color: var(--color-1) !important;
    color: var(--text-color) !important;
}

#about img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1rem;
    line-height: 1.6;
}


@media (max-width: 768px) {
    #about .col-md-6 {
        text-align: center;
    }

    #about img {
        margin: 0 auto 20px auto;
        width: 80%; 
    }
}

#about h2, #services h2, #contact h2, #our-promise h2, #about_uss h2 {
    color: var(--accent-color);
}

.card-title {
    color: var(--gray-color);
    font-weight: 40px;
}


/* 
****************************************************************************************************
Homepage: Our Promise
****************************************************************************************************
*/
.card-img-top {
    width: 100%;
    height: 200px !important; /* Adjust this as needed */
    object-fit: cover !important; /* Ensures the image fills the area without distorting */
    border: none !important;
    border-radius: 10px !important;
}

.card {
    border-radius: 10px !important;
    background: var(--black-color);
    color: var(--white-color);
    height: 100% !important;
    /*box-shadow: 5px 5px 15px rgba(0,0,0,0.9);*/
}

#our-promise h5 {
    color: var(--gray-color);
    font-weight: 200px !important;
}

/* 
****************************************************************************************************
Homepage: Services
****************************************************************************************************
*/

.new_box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}
.new_box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    height: 100%;
}

.new_overlay {
    width: 100%;
    height: 18%; /*played around with this too */
    background: linear-gradient(transparent,#1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.new_overlay h3 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 50%; /* I adjusted it so that the button can show on hover*/
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--text-color);
}

.new_overlay a {
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.new_overlay .btn:hover{
    cursor: pointer;
}

.new_box:hover img{
    transform: scale(1.1);
}


.new_box:hover .new_overlay{
    height: 100%;
}

/* Hover effect for larger screens */
@media (max-width: 1024px) {

    /* Initially hidden for mobile */
    .new_overlay {
        height: 0;
        overflow: hidden;
        transition: height 0.7s ease;
    }

    /* Visible class for scroll effect on mobile */
    .new_overlay.visible {
        height: 100%;
    }
    .new_overlay {
        height: 25%;
        font-size: small;
        padding-bottom: 30px;
    }

}

@media (min-width: 1024px) {
    .target {
        padding-bottom: 20px !important;
    }
    
}



/* 
****************************************************************************************************
Services Section 
****************************************************************************************************
*/

.btn-dez .btn {
    background: transparent;
    border: 1px solid white;
    columns: var(--white-color);
    color: var(--white-color);
    width: 100%;
    height: 10%;
    padding: 10px;
}

.btn-dez .btn:hover {
    background: var(--accent-color);
    color: var(--black-color);
}

section {
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: #1e1f26;
}
.new_container {
width: 90%;
max-width: 1000px;
margin: 50px auto;
display: flex;
align-items: center;
justify-content: center;
/* background-color: aqua; */
}
.left {
width: 50%;
height: 600px;
background: url(../images/cotact-us-3.jpg)
no-repeat center / cover;
border-radius: 8px;
}
.right {
width: 50%;
min-height: 400px;
background-color: #303137;
display: flex;
align-items: center;
justify-content: center;
padding: 30px;
border-radius: 8px;
color: white;
margin-left: -150px;
}
.right h1 {
font-size: 40px;
font-weight: lighter;
}
.right p {
margin: 20px 0;
font-weight: 500;
line-height: 25px;
}
.right a {
text-decoration: none;
text-transform: uppercase;
background-color: white;
color: black;
padding: 20px 30px;
display: inline-block;
letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
.new_container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
}
.left {
    width: 100%;
    height: 400px;
}
.right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
}
}

/* 
****************************************************************************************************
Service listing Section 
****************************************************************************************************
*/

.img-box img {
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.individual_card {
    display: block;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.all-card-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 20%;
    padding: 2.2rem 0;
    overflow: hidden;
    transition: 0.7s;
}

.all-card-content h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.all-card-content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 1.2rem;
}

/*
.all-card-content:hover {
    height: 60%;
    transition: 0.7s;
}


.individual_card:hover .all-card-content{
    height: 60%;
    transition: 0.7s;
}
*/

/* Hover effect for larger screens */
@media (min-width: 1025px) {
    .individual_card:hover .all-card-content {
        height: 60%;
        transition: height 0.7s ease;
    }
}

/* Initially hidden for mobile */
.all-card-content {
    height: 0;
    overflow: hidden;
    transition: height 0.7s ease;
}

/* Visible class for scroll effect on mobile */
.all-card-content.visible {
    height: 85%;
    transition: height 0.7s ease;
}

/* =====responsive===== */

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 
****************************************************************************************************
Loader
****************************************************************************************************
*/

#my_loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000; }
  
  #my_loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  #my_loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1; }
  
  #my_loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  
  #my_loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round; }



/* 
****************************************************************************************************
Affiliates and Partners Pages 
****************************************************************************************************
*/


     /* Services Section */
     .service-item {
        position: relative;
        margin-bottom: 10px;
    }

    .service-item img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover; /* Ensure the image scales properly within the container */
        /* transition: transform 0.1s ease; */
    }

    .service-item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6); /* Dark overlay */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        opacity: 1; /* Make the overlay always visible */
        transition: opacity 0.3s ease;
    }

    .service-item:hover .overlay {
        opacity: 0; 
        background:transparent; 
    }

    .service-item .text {
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }

    .service-item:hover img {
        transform: scale(1.05);
    }

    .service-item:hover .overlay {
        opacity: 1;
    }

    /* Make entire service item clickable */
    .service-link {
        display: block;
        position: relative;
        text-decoration: none;
        color: inherit;
    }

    /* contact us */
    .vr {
        border-left: 1px solid lightgray;
        margin: 0 auto;
    }

/* 
****************************************************************************************************
Footer Section 
****************************************************************************************************
*/

footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: var(--accent-color);
}
.social-icons i {
    color: gray; 
    
}


/* contact us */
.vr {
    border-left: 1px solid lightgray;
    margin: 0 auto;
}

/* Button Styling */
.btn-accent {
    background-color: var(--accent-color);
    color: #111;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
}

.btn-accent:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--accent-color);
}
