:root {
    --color-1: #111;
    --text-color: #f0f0f0;
    --accent-color: #DAA520;
    --white-color: hsl(170, 12%, 98%) !important;
    --gray-color: hsl(170, 4%, 60%) !important;
    --black-color: hsl(170, 12%, 8%) !important;
    --body-font: "Bona Nova", serif!;
    --normal-font-size: .938rem !important;
    
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
html {
    font-family: "Montserrat";
}*/

body {
    /*font-family: 'Arial', sans-serif;*/
    /*font-family: 'Montserrat';*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--color-1);
    color: #fff;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease;
    overflow-x: hidden;
}



/* 
****************************************************************************************************
Top Header Logo Area 
****************************************************************************************************
*/

/* Center the logo and header text */
/* Only apply hover dropdown on larger screens */

.navbar-brand {
    color: var(--accent-color);
}

.header-logo {
    /* background-color: #2C2C2C; Dark background color */
        text-align: center;
        padding: 10px 0;
    }

    .logo-image {
        width: 120px; /* Adjust logo size as needed */
        height: auto;
    }

    .header-title {
        font-size: 1.2rem;
        color: #FFF; /* White text color */
        font-family: 'Montserrat', sans-serif; /* or another serif font */
        margin: 5px 0;
    }

    .header-subtitle {
        font-size: 0.9rem;
        color: #CCC; /* Light gray for subtitle */
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }

/* 
****************************************************************************************************
Navbar 
****************************************************************************************************
*/

/* Only apply hover dropdown on larger screens */
@media (min-width: 1024px) {
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
}

.dark-background {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent black */
}

nav .navbar-nav .nav-item .nav-link {
    color: var(--text-color) !important; /* Replace with your desired color */
}

nav .navbar-nav .nav-item .nav-link:hover {
    color: var(--accent-color) !important; /* Replace with your desired color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    transform: translateY(-2px); /* Creates a subtle lift effect */
    transition: all 0.3s ease; /* Smooth transition */
}

/* for the toggle on mobile device */
.navbar, .offcanvas {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent black */
}

/* Optional: Set text color to improve readability */
.navbar .nav-link, .offcanvas .nav-link {
    color: var(--text-color) !important;
}

.navbar-toggler-icon {
    background-color: var(--accent-color) !important;
}

.btn-close {
    background-color: var(--accent-color) !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.5); /* Same color as the overlay */
}

.dropdown-menu a {
    color: var(--text-color);
}

.dropdown-menu a:hover {
    color: var(--accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background: transparent; 
    /*transform: translateY(-2px);  Creates a subtle lift effect */
}

/*
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    /* background-color: var(--color-1); 
    background-color: rgba(0, 0, 0, 0.5); /* Same color as the overlay 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.3s ease;
}

nav svg {
    fill: var(--text-color);
}

nav .logo {
    font-size: 1.5rem;
    color: var(--text-color);
    display: none;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;  /* Softens the link edges 
}

nav a:hover {
    color: var(--accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    /*transform: translateY(-2px);  Creates a subtle lift effect 
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

/*
nav .home-link {
    margin-right: auto;
}

/* Mobile navbar styles 
@media(max-width: 768px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: right 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    nav .logo {
        font-size: 1.5rem;
        color: var(--text-color);
        display:inline-block;
    }

    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
        cursor: pointer;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        background: rgba(0, 0, 0, 0.5); 
    }
}

    /* Overlay for mobile navbar 
    #overlay {
        display: none;
    }

    #sidebar-active:checked ~ #overlay {
        display: block;
    }
*/



/* 
****************************************************************************************************
Owl Carousel 
****************************************************************************************************
*/




/*
#wrapper {
	position: relative;
	height: 100vh;
}
#slider-area {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
#slider-area::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
#slider-area .owl-item div {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
#wrapper #nav-area {
	position: absolute;
	top: 5%;
	left: 50%;
	text-align: center;
	z-index: 1;
}
.nav-area {
	text-align: center;
	padding: 26px 0;
}
.nav a {
	font-family: montserrat;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 15px;
	padding: 10px;
	transition: all .6s ease;
}
.nav a:hover {
	background: coral;
}
.slider-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.slider-text h2 {
	font-family: montserrat;
	font-size: 55px;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
}
.slider-text h2 span {
	color: coral;
}
.slider-text p {
	font-size: 18px;
	color: #fff;
}
.slider-text a {
	text-decoration: none;
	background: var(--accent-color);
	color: #fff;
	display: inline-block;
	padding: 12px 45px;
	margin: 15px;
	text-transform: uppercase;
	font-family: montserrat;
	font-weight: 500;
	border: 2px solid #fff;
}
.slider-text a.btn {
	background-color: transparent;
}

.btn-dez a {
    text-decoration: none;
	background: var(--accent-color);
	color: #fff;
	display: inline-block;
	padding: 12px 45px;
	margin: 15px;
	text-transform: uppercase;
	font-family: montserrat;
	font-weight: 500;
	border: 2px solid #fff;
}

.btn-dez a:hover {
    background: transparent;
    transform: scale(1.2s);
}

*/

/* 
****************************************************************************************************
Hero Section 
****************************************************************************************************
*/

.hero {
    position: relative;
    /*background-image: url('https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=2921&auto=format&fit=crop');*/
    background-size: cover;
    background-position: center;
    /*height: 100vh;*/
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3rem;
    color: #DAA520;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .hero{
        height: 60vh;
        text-align: center;
        font-size: small;
    }
}


/* 
****************************************************************************************************
About Section 
****************************************************************************************************
*/

/* About section styling */
#about {
    background-color: var(--color-1);
    color: var(--text-color);
}

#about img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Adds rounded corners to the image */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow around the image */
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    #about .col-md-6 {
        text-align: center;
    }

    #about img {
        margin: 0 auto 20px auto;
        width: 80%; /* Smaller image on mobile devices */
    }
}


/* 
****************************************************************************************************
Services Section 
****************************************************************************************************
*/

section {
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: #1e1f26;
}
.new_container {
width: 90%;
max-width: 1000px;
margin: 50px auto;
display: flex;
align-items: center;
justify-content: center;
/* background-color: aqua; */
}
.left {
width: 50%;
height: 600px;
background: url(https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80)
    no-repeat center / cover;
border-radius: 8px;
}
.right {
width: 50%;
min-height: 400px;
background-color: #303137;
display: flex;
align-items: center;
justify-content: center;
padding: 30px;
border-radius: 8px;
color: white;
margin-left: -150px;
}
.right h1 {
font-size: 40px;
font-weight: lighter;
}
.right p {
margin: 20px 0;
font-weight: 500;
line-height: 25px;
}
.right a {
text-decoration: none;
text-transform: uppercase;
background-color: white;
color: black;
padding: 20px 30px;
display: inline-block;
letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
.new_container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
}
.left {
    width: 100%;
    height: 400px;
}
.right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
}
}

/* 
****************************************************************************************************
Service listing Section 
****************************************************************************************************
*/

.img-box img {
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.individual_card {
    display: block;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.all-card-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 20%;
    padding: 2.2rem 0;
    overflow: hidden;
    transition: 0.7s;
}

.all-card-content h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.all-card-content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 1.2rem;
}

/*
.all-card-content:hover {
    height: 60%;
    transition: 0.7s;
}


.individual_card:hover .all-card-content{
    height: 60%;
    transition: 0.7s;
}
*/

/* Hover effect for larger screens */
@media (min-width: 1025px) {
    .individual_card:hover .all-card-content {
        height: 60%;
        transition: height 0.7s ease;
    }
}

/* Initially hidden for mobile */
.all-card-content {
    height: 0;
    overflow: hidden;
    transition: height 0.7s ease;
}

/* Visible class for scroll effect on mobile */
.all-card-content.visible {
    height: 60%;
    transition: height 0.7s ease;
}

/* =====responsive===== */

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 
****************************************************************************************************
Loader
****************************************************************************************************
*/

#ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000; }
  
  #ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  #ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1; }
  
  #ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  
  #ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round; }
  

/* 
****************************************************************************************************
Footer Section 
****************************************************************************************************
*/

footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: #DAA520;
}
.social-icons i {
    color: gray; 
    
}


/* contact us */
.vr {
    border-left: 1px solid lightgray;
    margin: 0 auto;
}


